<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <center><h1>Shwoing All Buses</h1></center>
  </div>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Current lat</th>
            <th>Current lan</th>
            <th>Morning start time</th>
            <th>Morning End Time</th>
            <th>Evening start time</th>
            <th>Evening end time</th>
            <th colspan="3">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @buses.each do |bus| %>
            <tr>
              <td><%= bus.current_lat %></td>
              <td><%= bus.current_lan %></td>
              <% @mst = bus.morning_start_time.to_s %>
              <% @mst = @mst.tr('UTC', '')%>
              <td><%= @mst %></td>
              <% @met = bus.morning_end_time.to_s %>
              <% @met = @met.tr('UTC', '')%>
              <td><%= @met %></td>
              <% @est = bus.evening_start_time.to_s %>
              <% @est = @est.tr('UTC', '')%>
              <td><%= @est %></td>
              <% @eet = bus.evening_end_time.to_s %>
              <% @eet = @eet.tr('UTC', '')%>
              <td><%= @eet %></td>
              <td><%= link_to 'Show', bus, class:"btn btn-success"%></td>
              <td><%= link_to 'Edit', edit_bus_path(bus) , class:"btn btn-info"%></td>
              <td><%= link_to 'Destroy', bus, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
