<p id="notice"><%= notice %></p>

<p>
  <strong>Current lat:</strong>
  <%= @bus.current_lat %>
</p>

<p>
  <strong>Current lan:</strong>
  <%= @bus.current_lan %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bus.description %>
</p>

<p>
  <strong>Evening start time:</strong>
  <%= @bus.evening_start_time %>
</p>

<p>
  <strong>Evening end time:</strong>
  <%= @bus.evening_end_time %>
</p>

<p>
  <strong>Morning start time:</strong>
  <%= @bus.morning_start_time %>
</p>

<p>
  <strong>Morning:</strong>
  <%= @bus.morning_end_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bus.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @bus.user_id %>
</p>

<%= link_to 'Edit', edit_bus_path(@bus) %> |
<%= link_to 'Back', buses_path %>
